*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}    
nav{
    background-color: rgba(255, 255, 0, 0.493);
    height: 17vh;
}
nav img{
    width: 140px;
    padding: 0 20px;
}
header{
    margin:auto;
    margin-top: 20px;
}
h1{
    font-style: italic ;
}
button{
    background-color: yellow;
    width: 200px;
    margin: auto;
    padding: 10px 15px;
    border-radius: 5px;
    font-style: italic;
    font-weight: 600;
    margin-top: 20px;
    font-size: 0.9rem;
}
div{
    margin: auto;
}

p{
    font-style: italic;
    font-weight: 500;
}

textarea{
    padding: 10px;
    width: 70vw;
    height: 25vh;
}

footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 50px;
}
footer p{
    font-size: 1.8rem;
    padding: 10px 5px;
}
footer img{
    width: 30px;
    display: inline-block;
    padding: 0px 30px;
}